* {
    background: border-box;
}

@font-face {
    font-family: MuseoCyrl-900;
    src: url(../fonts/MuseoCyrl-900.woff) format("woff"), 
         url(../fonts/MuseoCyrl-900.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MuseoCyrl-300;
    src: url(../fonts/MuseoCyrl-300.woff) format("woff"), 
         url(../fonts/MuseoCyrl-300.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "MuseoCyrl-300", sans-serif;
    color: #202020;
}

.header {
    padding: 22px 0;
    background-color: #f1f1f1;
}

.header-container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "MuseoCyrl-900", sans-serif;
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
    color: #202020;
    font-size: 14px;
    font-weight: 400;
    margin-left: 11px;
    margin-right: 11px;
}

.login {
    text-decoration: none;
    color: #202020;
    font-size: 14px;
    font-weight: 400;
}

/* Главная секция */
.hero {
    padding-top: 60px;
    padding-bottom: 70px;
}

.hero-container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
}

.hero-image {
    margin-right: 122px;
}

.author {
    display: block;
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 22px;
}

.title {
    font-family: "MuseoCyrl-900", serif;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 15px;
}

.subtitle {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 48px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 49px;
}

.info-text {
    flex-basis: 50%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.price {
    display: flex;
    align-items: center;
}

.price-tag {
    font-size: 55px;
    font-weight: 400;
    margin-right: 64px;
}

.favorites {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.button {
    font-size: 16px;
    font-weight: 700;
    padding: 22px 57px;
    border-radius: 5px;
    border: 2px solid transparent;
}

.button-primary {
    background-color: #f89c02;
    color: #ffffff;
    margin-right: 20px;
}

.button-outline {
    border: 2px solid #f89c02;
    text-decoration: none;
    color: #f89c02;
}